@import '../app/styles/article.module';

.body {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   padding: 0.5rem 1rem;
   border-bottom: 1px solid $brand_primary__4;

   @media only screen and ($screen-sm) {
      grid-column-end: 3;
      border-bottom: 0;
   }
}

.buttons {
   display: flex;
}

%button{
   width: 66px;
   height: 2rem;
   border-radius: 5px;
   font-size: 0.75rem;

   &:hover,
   &:active {
      cursor: pointer;
   }
}

.deleteArticleButton {
   @extend %button;
   margin-right: 1rem;
   border: 1px solid $color__4;
   color: $color__4;

   @media only screen and ('min-width: 360px') {
      width: 80px;
   }
}

.editArticleButton {
   @extend %button;
   border: 1px solid $brand_primary__3;
   color: $brand_primary__3;
}