@import '../app/styles/const.module';
@import '../app/styles/fonts.module';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 8px;
    margin-bottom: 26px;
    background-color: $article-list-header-background;
    font: {
      family: InterRegular;
      size: 14px;
      weight: 400;
    };
      @media (min-width: 600px) {
        height: 80px;
        padding: 0 22px;
        font-size: 18px;
      }

    .logo {
      display: block;
      width: 120px;
      height: 56px;
      line-height: 56px;
      margin-right: auto;
      @media (min-width: 600px) {
        width: 140px;
      }

      &Title {
        text-align: center;
      }
    }

    .sign {
      width: 60px;
      height: 30px;
      cursor: pointer;
      @media (min-width: 600px) {
        width: 110px;
        height: 50px;
      }
    }

    .sign:hover {
      background-color: red;
    }

    .activeSign {
      color: $article-list-active-sign;
      border: 1px solid $article-list-active-sign;
      border-radius: 5px;
    }
  }

  .articles {
    width: 100%;
    max-width: 940px;

    li {
      margin-bottom: 26px;
    }
  }
}
