@import '../app/styles/const.module';
@import '../app/styles/fonts.module';

.main {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  max-height: 140px;
  background-color: $article-list-item-background;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.article {
  max-width: 700px;
  padding: 16px 20px 24px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 28px;

    h5 {
      font: {
        family: 'InterRegular';
        size: 20px;
        weight: 400;
      };
      color: $article-list-item-title;
    }
}

.likes {
  display: flex;
  align-items: center;
  width: 60px;
  margin-left: 14px;

    .likesCounter {
      margin-left: 5px;
    }
}

.tags {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 6px;

    .tag {
      height: 20px;
      line-height: 20px;
      margin-right: 8px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      padding: 0 4px;
      font: {
        family: 'InterRegular';
        size: 12px;
        weight: 400;
      };
    }
}

.text {
  height: 45px;
  overflow: hidden;
  margin-top: 6px;
  padding-right: 8px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  font: {
    family: 'InterRegular';
    size: 12px;
    weight: 400;
  };
}

.author {
  align-self: flex-start;
  display: flex;
  align-items: center;
  max-width: 240px;
  padding: 14px;

    .authorInfo {
      display: flex;
      flex-direction: column;

        .authorName {
          color: rgba(0, 0, 0, 0.85);
          line-height: 22px;
          font: {
            family: 'InterRegular';
            size: 18px;
            weight: 400;
          };
        }

        .date {
          color: rgba(0, 0, 0, 0.5);
          line-height: 16px;
          font: {
            family: 'InterRegular';
            size: 12px;
            weight: 400;
          };
        }
    }

    .authorPhoto {
      margin-left: 12px;
    }
}